.root {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.devInProgress {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
}

.loader {
  max-width: 36rem;
  margin: auto;
}