/* .JobCard {
  margin: 15rem;
} */

.jobCard {
  transition: all 0.2s ease-in-out !important;
  border-radius: 20px !important;
  padding: 20px !important;
}

.jobCard:hover {
  transform: scale(1.01)
}